@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

*{
    font-family: 'Playwrite DE Grund', cursive;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: default;
}

/* A */

a{
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
}

a:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-4%);
}

/* Cuerpo */

body{
    background-color: #e9e3e3;
    height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Header */

.header h4{
    margin-right: 10px;
    margin-top: 15px;
    position: relative;
    display: flex;
    float: right;
  }

  .header .titulo{
    display: flex;
    position: absolute;
  }

  .header .titulo{
    left: 45%;
    
  }
  
  .header header{
      z-index: 2;
    opacity: 0.8;
    padding: 15px;
    border-radius: 0px;
      background: rgba(28, 30, 34);
      width: 100%;
      height: 80px;
      position: fixed;
      z-index: 999px;
      top: 0;
      left: 0;
      margin-bottom: 100px;
  }
  
  .header header a{
    margin-left: 10px;
    margin-right: 20px;
}
  
  .header nav{
      float: left;
  }
  
  .header nav ul{
      list-style: none;
      overflow: hidden;
  }
  
  .header nav ul li{
      float: left;
      font-size: 20px;
  }
  
  .header nav ul li a{
      display: block;
      padding: 10px;
      color: #fff;
      text-decoration: none;
  }
  
  .header li img{
    height: 40px;
  }


/* Cuadro de texto */

.cuadro{
    box-shadow: 12px 12px #b5afaf;
    z-index: 2;
  opacity: 0.9;
  padding: 15px;
  border-radius: 15px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: 500px;
    width: 1000px;
    border: 5px solid;
    background-color: #2C2C2C;
}

.cuadro .img img{
    margin-top: 10px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 80px;
    border: solid, 2px;
    border-radius: 10px;
    border-color: rgba(194, 254, 255 );
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.cuadro .texto{
    display: flex;
    position: absolute;
    color: #e9e3e3;
}

.cuadro .kiki{
    margin-top: 0px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 250px;
}

.cuadro .kiki h4{
    text-align: center;
    position: absolute;
    margin-top: 150px;
    border: solid, 2px;
    border-radius: 10px;
    border-color: rgba(194, 254, 255 );
    width: 500px;
}

.cuadro .koko{
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cuadro .koko h4{
    margin-top: 250px;
    border: solid, 2px;
    border-radius: 10px;
    border-color: rgba(194, 254, 255 );
    width: 500px;
    height: 60px;
}


/* Footer */

footer {
    z-index: 2;
  opacity: 0.8;
  padding: 15px;
  border-radius: 0px;
    background: #2C2C2C;
    color:white;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
  }
